@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center-center">
    <h1 class="display-4">Bine ați venit!</h1>
    <h2>Pentru a putea accesa canalele noastre vă rugăm sa vă autentificați!</h2>
    <h2>În cazul în care nu aveți deja un cont va trebui să vă înregistrați!</h2>

</div>
