<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WorkplaceCollaboration</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@


    <link rel="stylesheet" href="~/css/Theme.css"/>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WorkplaceCollaboration.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WorkplaceCollaboration</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                       

                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Channels" asp-action="Index">Canale</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Index">Categorii</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Channels" asp-action="New">Adaugare canal</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Afisare utilizatori</a>
                            </li>


                        }

                        @if (User.IsInRole("Moderator"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Channels" asp-action="Index">Canale</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Channels" asp-action="New">Adaugare canal</a>
                            </li>

                      
                        }

                        @if (User.IsInRole("User"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Channels" asp-action="Index">Canale</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Channels" asp-action="Index2">Canalele Mele</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Channels" asp-action="New">Adaugare canal</a>
                            </li>

                        }
                        
                        @if (User.IsInRole("User") || User.IsInRole("Moderator") || User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <form class="nav-link" asp-controller="Channels" method="get">

                                <input type="text" name="searchTerm" placeholder="Caută canale..." />
                                <button type="submit">Caută</button>
                            </form>
                        </li>
                        }


                        
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - WorkplaceCollaboration 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        var contentParagraph = document.getElementById("contentParagraph");
        var content = contentParagraph.innerHTML;

        // Verificăm dacă conținutul conține un link către o imagine
        if (content.match(/\.(jpeg|jpg|gif|png)$/) !== null) {
            // Afișăm imaginea încorporată
            contentParagraph.innerHTML = "<img src='" + content + "' alt='Imagine încorporată'>";
        }
        // Verificăm dacă conținutul conține un link către un videoclip YouTube
        else if (content.match(/(?:https?:\/\/)?(?:www\.)?(?:youtube\.com\/(?:[^\/\n\s]+\/\S+\/|(?:v|e(?:mbed)?)\/|\S*?[?&]v=)|youtu\.be\/)([a-zA-Z0-9_-]{11})/) !== null) {
            // Afișăm videoclipul YouTube încorporat
            var videoId = RegExp.$1;
            contentParagraph.innerHTML = "<iframe width='560' height='315' src='https://www.youtube.com/embed/" + videoId + "' frameborder='0' allowfullscreen></iframe>";
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
